@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
    overflow: hidden;
    height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  color: #16161d;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CLEAR FIX */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
	width: 70%;
	margin-left: 15%;
}
